.contenedor-img-pedido
{
    width: 100% !important; 
    max-width: 500px !important;
    height: 100% !important;
    max-height: 350px !important;
    margin-left: 75px !important;
}

.img-pedido
{
    width: 100% !important;
    height: 100% !important;
    object-fit: cover !important;
    border: 2px solid var(--color-bordes) !important;
    border-radius: 10px;
}

.div-parlante
{
    margin-left: 75px;
    font-size: 80px;
}


.cantidad-texto {


    font-size: 22px;
    display: inline-block;
    background-color: var(--color-fondo-elementos)  !important;
    color: var(--color-texto-secundario)  !important;
    border-radius: 10px;
    border: 1px solid var(--color-bordes) !important;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 4px;
    padding-bottom: 2px;
}

.input-group
{
    margin-left: 250px !important; 
}
.precio-input
{
    max-width: 80px;
    font-size: 20px;
    background-color: var(--color-fondo)  !important;
    color: var(--color-texto-principal)  !important;
    border-radius: 10px;
    border: 1px solid var(--color-bordes) !important;
}

span
{
    font-size: 20px !important;
    background-color: var(--color-fondo)  !important;
    border: 1px solid var(--color-bordes) !important;
    color: var(--color-texto-principal) !important;
}

.form-select
{
    font-size: 20px !important;

}
