.card-img-top {
   aspect-ratio: 1/1 !important;
}

.ingredient-info {
    display: flex;
    align-items: center;
    justify-content: center;
}

.ingredient-name {
    margin-top: 10px;
}

.quantity-controls {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.container-flex {
    display: flex;
    align-items: center;
}

.ingredient-card {
    flex: 1;
}

.quantity-controls {
    flex: 0;
    margin-left: 15px;
}
