/* Modo Claro */
:root {
  --color-fondo: #fffbec;
  --color-texto-principal: #212121;
  --color-texto-secundario: #333;
  --color-fondo-elementos: #F5F5F5;
  --color-icono:  #212121;
  --color-bordes: #212121;
  --color-enlaces: #2600ff;
  --color-hover: #F5F5F5;
}

/* Modo Oscuro */
[data-theme="dark"] {
  --color-fondo: #121212;
  --color-texto-principal: #E0E0E0;
  --color-texto-secundario: #B3B3B3;
  --color-fondo-elementos: #1E1E1E;
  --color-icono:  #E0E0E0;
  --color-bordes: #333333;
  --color-enlaces: #2600ff;
  --color-hover: #1E1E1E;
}

/* Modo Alto Contraste */
[data-theme="high-contrast"] {
  --color-fondo: #000000;
  --color-texto-principal: #FFFF00;
  --color-texto-secundario: #000000;
  --color-fondo-elementos: #18d0ff;
  --color-icono:  #FFFF00;
  --color-bordes: #FFFF00;
  --color-enlaces: #FFFFFF;
  --color-hover: #FFFF00;
}


body {
  background-color: var(--color-fondo)  !important;
  color: var(--color-texto-principal) !important;
  font-family: Arial, Helvetica, sans-serif !important;/*Fuente elegida*/
}

h1,h2,h3,h4
{
/*   font-family: 'Comic Sans MS', cursive, sans-serif; */
  font-weight: bold;
}

button {
 /*  background-color: var(--color-fondo-elementos) !important; */
  border: 1px solid var(--color-bordes) !important;
  border-radius: 10px;
  color: var(--color-texto-principal) !important;
  cursor: pointer; 
}

button:hover
{
  background-color: var(--color-hover) !important; 
  border: 1px solid var(--color-fondo-elementos) !important;
  border-radius: 10px;
  color: var(--color-texto-secundario) !important;
  cursor: pointer; 

}

button.boton-icono {
  border: none !important;
  background-color: transparent !important;
  padding: 0px !important; 
  cursor: pointer;
}

button.dropdown-item {
  border: none !important;
}

i {
  color: var(--color-icono) !important;
}


.modal-content
{
  background-color: var(--color-fondo)  !important;
  color: var(--color-texto-principal) !important;
  border: 1px solid var(--color-bordes) !important;
}

.dropdown-menu
{
  background-color: var(--color-fondo)  !important;
  color: var(--color-texto-principal) !important;
  border: 1px solid var(--color-bordes) !important;
}

a{
  color: var(--color-texto-enlaces) !important;
}

select
{
  background-color: var(--color-fondo-elementos)  !important;
  color: var(--color-texto-secundario) !important;
  border: 2px solid var(--color-bordes) !important;
}

.card{
  background-color: var(--color-fondo)  !important;
  border: 3px solid var(--color-bordes) !important;
}

.card-title{
  color: var(--color-texto-principal) !important;
}

