/* Modo Claro */
:root {
  --color-fondo: #fffbec;
  --color-texto-principal: #212121;
  --color-texto-secundario: #333;
  --color-fondo-elementos: #F5F5F5;
  --color-icono:  #000000;
  --color-bordes: #E0E0E0;
}

/* Modo Oscuro */
[data-theme="dark"] {
  --color-fondo: #121212;
  --color-texto-principal: #E0E0E0;
  --color-texto-secundario: #B3B3B3;
  --color-fondo-elementos: #1E1E1E;
  --color-icono:  #FFFFFF;
  --color-bordes: #333333;
}

/* Modo Alto Contraste */
[data-theme="high-contrast"] {
  --color-fondo: #000000;
  --color-texto-principal: #FFFF00;
  --color-texto-secundario: #FFFFFF;
  --color-fondo-elementos: #18d0ff;
  --color-icono:  #ffffff;
  --color-bordes: #FFFF00;
}


body {
  background-color: var(--color-fondo)  !important;
  color: var(--color-texto-principal) !important;
  font-family: Arial, Helvetica, sans-serif !important;/*Fuente elegida*/
}


button {
  background-color: var(--color-fondo-elementos) !important;
  border: 1px solid var(--color-bordes) !important;
  color: var(--color-texto-secundario) !important;
  font-weight: bold !important;
  padding: 15px !important;
}

i {
  color: var(--color-icono) !important;
}

.modal-content
{
  background-color: var(--color-fondo)  !important;
  color: var(--color-texto-principal) !important;
  border: 1px solid var(--color-bordes) !important;
}

.dropdown-menu
{
  background-color: var(--color-fondo)  !important;
  color: var(--color-texto-principal) !important;
  border: 1px solid var(--color-bordes) !important;
}

a{
  color: var(--color-texto-secundario) !important;
  background-color: var(--color-fondo-elementos) !important;
}