body a{
    text-decoration: none;
    color: #333;
}
.card{
    min-height: 15rem !important;
    max-height: 20rem !important;
}
.card img{
    max-height: 12rem !important;
}
.card:hover{
    box-shadow: inset 0 0 15px rgba(0, 0, 0, 0.4);
    transition: box-shadow 0.1s ease-in-out;
    cursor: pointer;
}
.boton-style:hover{
    box-shadow: inset 0 0 15px rgba(0, 0, 0, 0.4);
    transition: box-shadow 0.1s ease-in-out;
    cursor: pointer;
}
.opcion-config:hover{
    background-color: lightgray !important;
}
#main-container{
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* 3 columnas de igual tamaño */
    grid-template-rows: repeat(2, auto); /* 2 filas */
    gap: 1.5rem; /* Espacio entre las tarjetas */
}

