body {
    background-color: #f0f0f0; /* Color más suave */
}

.container {
    background-color: #ffffff;
    border: 2px solid black;
    padding: 20px;
    width: 1800px;
    height: 800px;
    border-radius: 10px;
}

.category h3 {
    font-size: 18px; /* Tamaño de fuente mayor */
    margin-bottom: 10px;
}

.item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}

.quantity-control {
    display: flex;
    align-items: center;
    border: 1px solid black; /* Añadir borde al control de cantidad */
    padding: 3px;
    border-radius: 5px;
}

.quantity-control span {
    font-size: 18px;
    margin: 0 10px;
    width: 20px;
    text-align: center; /* Centrar números */
}

button.plus, button.minus {
    background-color: transparent;
    border: none;
    font-size: 22px;
    cursor: pointer;
}

.check {
    color: #4CAF50; /* Verde más suave */
    margin-left: 5px;
    font-size: 20px;
}

.cross {
    color: #F44336; /* Rojo más suave */
    margin-left: 5px;
    font-size: 20px;
}

.next-btn {
    display: block;
    margin: 20px auto 0;
    padding: 10px 30px;
    background-color: white;
    border: 2px solid black;
    border-radius: 10px; /* Bordes más redondeados */
    cursor: pointer;
    font-size: 16px;
    text-align: center;
}
