body{
    background-color: #fffbec;
    font-family: Arial, Helvetica, sans-serif;

}
body config{
    text-decoration: none;
    color: #333;
}
.card {
    position: relative;
    transition: transform 0.3s ease;
    cursor: pointer;
    width: 30rem; 
    height: 35rem; 
    overflow: hidden;
}
.btn-config{
    color: #000;
}
.card:hover {
    transform: scale(1.05);
    background-color: #ffca1a;
}

.audio-icon {
    position: absolute;
    bottom: -3rem; 
    left: 50%;
    transform: translateX(-50%);
    display: none;
    transition: all 0.3s ease;
}
.audio-icon img {
    width: 50px; 
    height: 50px;
}
.card:hover .audio-icon {
    display: block;
}
.boton-style:hover{
    box-shadow: inset 0 0 15px rgba(0, 0, 0, 0.4);
    transition: box-shadow 0.1s ease-in-out;
    cursor: pointer;
}