
.btn-custom {
    height: 100px;
    width: 150px;
    min-width: 50px;
    min-height: 50px;
}
.item-orden {
    border: 2px solid var(--color-bordes) !important;
    border-radius: 15px;
    text-align: center;
    min-width: 120px;
}
.min-comida{
    min-height: 420px;
    margin-top: 5px;
}


