
.btn-custom {
    border-radius: 20px !important;
    font-size: 1.2em !important;
    min-width: 120px !important;
    font-weight: bold !important;
    text-align: center !important;

}
.item-orden {
    border: 2px solid var(--color-bordes) !important;
    border-radius: 15px;
    text-align: center;
    min-width: 120px;
}
.min-comida{
    min-height: 420px;
    margin-top: 5px;
}


